body {
  background-color: #f0f0f0; /* Світлий фон для контрасту */
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Додаємо висоту контейнера для центризації */
}

.yellow-block {
  position: relative;
  width: 500px; /* Встановлюємо ширину жовтого блоку */
  height: 770px; /* Встановлюємо висоту жовтого блоку */
  background-color: yellow;
  position: relative; /* Відносне позиціонування для контролю */
  transform: rotate(5deg); /* Повертаємо жовтий блок на 10 градусів */
}

.rotated-image {
  position: absolute;
  width: 500px; /* Встановлюємо ширину жовтого блоку */
  height: 770px;
  transform: rotate(2deg); /* Повертаємо картинку на 15 градусів */
  position: absolute; /* Абсолютне позиціонування для зображення */
  top: 0; /* Вирівнюємо зображення по верхньому краю блоку */
  left: 0; /* Вирівнюємо зображення по лівому краю блоку */
}
